ddsp[data_preparation]==1.6.3
tensorflow==2.12.0
tfds-nightly==4.9.2.dev202307100045
etils==1.5.1
numpy==1.23.5
scipy==1.11.4
six==1.16.0
tensorflow-probability==0.20.0
tensorflow-addons==0.20.0
apache-beam==2.48.0
librosa==0.8.0
git+https://github.com/marl/crepe.git
note-seq==0.0.4
mir_eval==0.7
notebook
ipykernel
papermill

