numpy==1.19.5
scipy==1.5.4
six==1.15.0
tensorflow==2.6.0
keras==2.6.0
tensorflow-datasets==4.2.0
tensorflow-probability==0.14.1
tensorflow-addons==0.14.0
apache-beam==2.25.0
librosa==0.8.0
git+https://github.com/marl/crepe
note-seq==0.0.3
mir_eval==0.6
ddsp==1.4.0
notebook
ipykernal
papermill


